<!--Footer-->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-black">
    <div class="links">
    <a href="https://gmail.com" target="_blank">
      <i class="fa-regular fa-envelope"></i>
    </a>
    <!-- Link to Github -->
    <a href="https://github.com/chloehoang23" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
    <!-- Link to Instagram -->
    <a href="https://www.instagram.com/hoang_chloe/" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>
  </div>
    <p class="navbar-text">&copy; 2024 by Chloe Hoang and Joshua Nguyen</p>
  </nav>
</footer>
</body>

</html>